/*css for index html
author: Sonja Czernotzky 742284*/

/* custom font */
@font-face{
    font-family: 'Sophia';
    src: url("../fonts/Sophia.ttf") format("truetype");
}

/* styling html tags */
body{
    background: url("../img/ui/bg2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    overflow: hidden
}
h2{
    color: whitesmoke;
}
h3{
    font-family: Sophia;
    color: whitesmoke;
    font-size: 300%;
    margin-top: 10%;
}
form input[type="file"] {
    color: whitesmoke;
    font-size: small;
    background-color: rgba(94,194,209,1);
}

/*styling Login frame, in the middle of page and colors */
#loginArea {
    text-align: center;
    margin-top: 10%;
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 5%;
    padding-top: 5%;
    color:black;
}
/*greeting on Login frame*/
#greeting{
    font-family: Sophia;
    font-size: 900%;
    color: whitesmoke;
}
/*error text div for event: user already exists on login*/
#alert{
    color: red;
}
/*Chatarea on the right part of the page with row break if the word is too long to display in one row*/
#chatArea{
    padding-left:5%;
    padding-right:5%;
    word-wrap: break-word;
}
/* Color of the label for the textfield and position fixed on bottom of viewport*/
#messageArea{
    color: whitesmoke;
    position: fixed;
    bottom:0;
}
/*Online User div on left side of page*/
#onlineUser {
    background-color: rgba(0,0,0,0.5);
    color: black;
    font-family: "Times New Roman";
    font-size: large;
    min-height: 100vh;
    max-height: 100vh;
}
/*Conversation Area is made scrollable if theres an overflow in y-direction*/
#messages{
    color: whitesmoke;
    overflow-y: scroll;
    max-height: 80vh;
    margin-top:5%;
    min-height: 80vh;
    background-color: rgba(0,0,0,0.5);
}
/*textfield for typing new messages*/
#message{
    color: black;
}
/*textfield for showing the selected file*/
#NameBox{
    color: whitesmoke;
    background-color: rgba(0,0,0,0);
    border: none;
}
/*Messages*/
ul {
    list-style-type: none;
}
/*Message itself in conversation area*/
.msg{
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgba(255,255,255,0.5);
    display:inline-block;
}
/*media div in chat area, max height set*/
.media {
    max-height: 240px;
}
/*Notification Connected user in green*/
.msgCon{
    color: green;
}
/*Notification disconnected user in red*/
.msgDisCon{
    color: red;
}
/*Whisper Messages in purple*/
.msgWhisper {
    color:purple;
}
/*List message in */
.msgList{
    color: rgb(0,110,255);
}
/*custom send button*/
#sendbtn{
    font-size: 50px;
    height: 50px;
    width: 50px;
    background-image: url("../img/ui/send_btn.png");
    background-size: 50px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
/*filebtn opens Filechooser; not displayed bc layout is ugly, overlayed with custom button*/
#filebtn {
    display: none;
}
/*Custom Filchooser Button*/
#chooseFileBtn{
    font-size: 50px;
    height: 50px;
    width: 50px;
    background-image: url("../img/ui/file_btn.png");
    background-size: 50px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
/*Custom Button Layout for standard button*/
.btn{
    background-color: rgba(94,194,209,1);
}
/*Contains the "X" for deleting a selected File, only shows up when file is selected*/
#delbtn{
    color: red;
    background-color: transparent;
    font-size: larger;
    border: none;
}

